html, body {
  height: 100%;
}

body {

}

div.indexwrapper {
  background-image: url('../images/opt-deanna-ritchie.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100%;
  width: 90%;
  margin: 0 auto;
}

div.poem {
  float: left;
  padding: 20px;
  font-family: 'Courgette', cursive;
  width: 40%;
}

pre {
  font-family: 'Courgette', cursive;
  font-size: 20px;
}

p.cite {
  padding-right: 100px;
}

p.error {
  color: red;
  background-color: white;
}

cite {
  float: right;
  font-size: 10px;
}

div.links {
  padding-top: 20px;
  float: right;
}

a.link {
    display: inline-block;
    margin: 5px 15px;
    padding: 10px 15px;
    text-decoration: none;
    background-color: tomato;
    border-radius: 40%;
    font-family: 'Courgette', cursive;
    color: black;
}

div.footer {
  height: 100px;
}
