extends layout
block content
  div.profileTop      
    a#homelink.link(href='/') Home Page  
    a.link(href='/users/profile') View Profile 
    a#logoutlink.link(href='logout') Log Out
    
  div(class='cityBanner ' + name)

  div.container
    div.cityInfo
      h4 #{info}
    
    div.btnWrapper
      a#linkToAddNewPost.link(href='/posts/newPost') Add New Review 

    div.posts 
      each post in posts
        div.itemPost
          div.postContent
            p.content= `"${post.content}"`  
          div.postData
            span= post.name
            br
            span.date= moment(post.date_added).fromNow()
            
            
    
