extends layout
block content
  h1 #{title} 
    //- if name
    //-   h2 Welcome back #{name}
    //- else 
    pre
      span To move, to breathe, to fly, to float, 
      br
      span To gain all while you give,
      br
      span To roam the roads of lands remote,
      br
      span To travel is to live.
      
    p
      cite Hans Christian Andersen 
            
    //- h2 Hello Roamer! Please signup or login
    a#signupLink(href='users/signup') Sign Up
    br
    a#loginlink(href='users/login') Log In
    
