extends layout
block content
  
      if currentUser
        div.poem
          h2 Welcome to Roam, #{currentUserName}!
        div.links
          a.link(href='users/profile') View Profile  
          a.link(href='users/logout') Log Out
          
        
        div.cities
          h2.citiesTitle Favorite Locations of our users
          h3.citiesTitle Click on image to provide your review!
          div.item.col-xs-6.col-lg-5
            img.cityImg(src='http://blog.nezasa.com/wp-content/uploads/2014/04/Japan-Hakone-Chureito-Pagoda-with-Mt.-Fuji.jpg')
            div.text Tokyo, Japan  
                
          div.item.col-xs-6.col-lg-5
              img.cityImg(src='https://www.desertplanners.net/wp-content/uploads/2017/07/burj-khalifa-2.jpg')
              div.text  Dubai, UAE 
                
          div.item.col-xs-6.col-lg-5
            img.cityImg(src='http://www.hotelroomsearch.net/im/2014/10/sydney-australia-1.jpg')
            div.text Sydney, Australia
        
        div.custom 
          h3.citiesTitle Or - click here to review another city.
          a.link(href='posts/newPost') Custom Review

      
      else 
        div.indexwrapper
          div.index

            div.links
              a.link(href='users/signup') Sign Up
              a.link(href='users/login') Log In
                  
            div.poem
              pre
                span To move, to breathe, to fly, to float, 
                br
                span To gain all while you give,
                br
                span To roam the roads of lands remote,
                br
                span To travel is to live.
                
                p.cite
                  cite Hans Christian Andersen 
                  
          div.footer  
