doctype html
html(lang="en")
  head
    title Roam | #{title}
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css' rel='stylesheet')
    link(href="https://fonts.googleapis.com/css?family=Courgette" rel="stylesheet")
    link(href='/css/style.css' rel='stylesheet')
    
  body
    include navbar
    block content 
    
script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
script(src="/js/script.js")
