extends layout
block content
  div#form
    h3.form #{title} 
    form(method='POST' action='/users/login')
      input#email.form-control-sm(type='email' name='email' placeholder='email')
      br
      
      input#password.form-control-sm(type='password' name='password' placeholder='password')
      br
      
      p.error #{error}
      
      button#loginBtn.btn.btn-primary(type='submit') Log In
