extends layout
block content
  h1 #{title} 
  div#form
    form(method='POST' action='/users/login')
      input#email.form-control-sm(type='email' name='email' placeholder='email')
      br
      
      input#password.form-control-sm(type='password' name='password' placeholder='password')
      br
      
      p.error #{error}
      
      button#loginBtn(type='submit') Log In
