extends layout
block content
  h2 Share your experience
  h3 Write a review for 
    select 
      option(name='cityName' value='ny') New York
      option(name='cityName' value='sf') San Francisco
      option(name='cityName' value='vc') Vancouver
      option(name='cityName' value='cn') Cancun
      option(name='cityName' value='ln') London 
      option(name='cityName' value='pr') Paris  
  
  form#newPost(method='POST' action='/posts/newPost')
    label(for='title') Title:
    input#title.form-control(type='text' name='title')
    br
    
    textarea#postBody(name='postBody' rows='20' cols='50')
    
    button#addPost(type='submit') Submit your review!
    
