extends layout
block content
  div.container
    h2 Share your experience
    p Write a review for 
      select#citiesList
        //- option(name='cityName' value='4') Cancun
        option(name='cityName' value='2') Dubai
        //- option(name='cityName' value='5') London 
        //- option(name='cityName' value='6') New York
        //- option(name='cityName' value='7') Paris  
        //- option(name='cityName' value='8') San Francisco
        option(name='cityName' value='3') Sydney
        option(name='cityName' value='1') Tokyo
        //- option(name='cityName' value='9') Vancouver
    
    form#newPost(method='POST' action='/posts/newPost')
      div#newPost.form-group
        label(for='title') Title:
        input#title.form-control(type='text' name='title')
        br
    
        textarea#postBody(name='content' rows='15' cols='50')
    
        button#addPost(type='submit') Submit your review!
    
