extends layout
block content
  div#form
    h3.form #{title} 
    form(method='POST' action='/users/signup')
      input#name.form-control-sm(type='text' name='name' placeholder='your name')
      br
        
      input#email.form-control-sm(type='email' name='email' placeholder='email')
      br
      
      input#password.form-control-sm(type='password' name='password' placeholder='password')
      br
        
      input#city.form-control-sm(type='text' name='city' placeholder='your current city')
      br
      
      p.error #{error}
    
      button#signupBtn.btn.btn-primary(type='submit') Sign Up
